.greetingBox{
	border: 1px solid black;
}

.instructionBox{
	border: 1px solid black;
}

.formBox{
	border: 1px solid black;
}

.inputBox{
	border: 1px solid black;
}

.submitBox{
	border: 1px solid black;
}

.tableBox{
	border: 1px solid black;
}